<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Do not redirect API calls if the backend is on the same domain
  RewriteCond %{REQUEST_URI} !^/api/ [NC]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
